<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/doctor.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Regimed | Usuario</title>
    <link rel="icon" href="img/Logo/LogoPositive.png" type="image/png">
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"
        integrity="sha512-CNgIRecGo7nphbeZ04Sc13ka07paqdeTu0WR1IM4kNcpmBAUSHSQX0FslNhTDadL4O5SAGapGt4FodqL8My0mA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script defer src="JS/paciente.js"></script>
    <script defer src="JS/interfazDoctor.js"></script>
</head>

<body>
    <div id="informacion-general" class="contenido">
        <!-- Aside -->
        <aside>
            <div class="superior">
                <div class="logo" class="aside__imagen">
                    <a href="/"><img src="../img/Logo/LogoCompPositive.png" alt=""></a>
                </div>
                <ul>
                    <li>
                        <a href="#informacion-general" class="opcion seleccionado">
                            <i class="fa-solid fa-user-doctor"></i>
                            <p>Información</p>
                        </a>
                    </li>
                    <li>
                        <a href="#seccion-paciente" class="opcion">
                            <i class="fa-solid fa-hospital-user"></i>
                            <p>Paciente</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="inferior">
                <ul>
                    <li>
                        <button type="button" id="abrir__interfazUsuario" class="opcion opcion--boton">
                            <i class="fa-solid fa-user"></i>
                            <p>Ingresa como usuario</p>
                        </button>
                    </li>
                </ul>
            </div>
        </aside>
        <div class="contenidoGeneral">
            <nav>
                <ul class="nav__enlaces">
                  <li>
                    <a class="nav__enlace" href="/" id="navInicio">Inicio</a>
                  </li>
                  <% if (sesion) {%>
                  <li>
                    <a class="nav__enlace" href="/principal" id="navPerfil">Perfil</a>
                  </li>
                  <li>
                    <a class="nav__enlace" href="/cerrarSesion">Cerrar Sesión</a>
                  </li>
                  <%} else {%>
                  <li>
                    <a class="nav__enlace" href="/registro" id="navRegistro">Registrate</a>
                  </li>
                  <li>
                    <a class="nav__enlace nav__enlace--borde" href="/acceso" id="navAcceso">Iniciar sesión</a>
                  </li>
                  <%}%>
                </ul>
              </nav>              
            <main>
                <div class="seccion">
                    <div class="seccion__titulo">
                        <i class="fa-solid fa-user"></i>
                        <h2>Información General</h2>
                    </div>
                    <div class="seccion__columna seccion__columna--informacion_general">
                        <div class="seccion__fila">
                            <div class="contenedor__titulo">
                                <h3>Datos Personales</h3>
                            </div>
                            <div class="seccion__datosPersonales">
                                <div class="seccion__izquierda">
                                    <div class="contenidoImagen">
                                        <img src="img/users/<%= imagenAMostrar %>" alt="" id="imagenGuardada">
                                    </div>
                                    <div class="seccion__datoPersonal nombre">
                                        <strong>Nombre</strong>
                                        <% if (typeof nombre !== 'undefined' && nombre !== null && nombre !== '') { %>
                                            <p><%= nombre %></p>
                                        <% } else { %>
                                            <p class="vacio">Vacío</p>
                                        <% } %>
                                    </div>
                                </div>
                                <div class="seccion__derecha">
                                    <div class="seccion__datoPersonal curp">
                                        <strong>CURP</strong>
                                        <% if (typeof curp !== 'undefined' && curp !== null && curp !== '') { %>
                                            <p><%= curp %></p>
                                        <% } else { %>
                                            <p class="vacio">Vacío</p>
                                        <% } %>
                                    </div>
                                    <div class="seccion__datoPersonal telefono">
                                        <strong>Teléfono</strong>
                                        <% if (typeof telefono !== 'undefined' && telefono !== null && telefono !== '') { %>
                                            <p><%= telefono %></p>
                                        <% } else { %>
                                            <p class="vacio">Vacío</p>
                                        <% } %>
                                    </div>
                                    <div class="seccion__multiplesDatosPersonales">
                                        <div class="seccion__divisorDatos">
                                            <div class="seccion__datoPersonal">
                                                <strong>Nacimiento</strong>
                                                <% if (typeof nacimiento !== 'undefined' && nacimiento !== null && nacimiento !== '' && nacimiento !== '0000-00-00') { %>
                                                    <p><%= nacimiento %></p>
                                                <% } else { %>
                                                    <p class="vacio">Vacío</p>
                                                <% } %>                                            
                                            </div>
                                            <div class="seccion__datoPersonal">
                                                <strong>Peso</strong>
                                                <% if (typeof peso !== 'undefined' && peso !== null && peso !== '' && peso !== 0) { %>
                                                    <p><%= peso %> Kg</p>
                                                <% } else { %>
                                                    <p class="vacio">Vacío</p>
                                                <% } %>
                                            </div>
                                            <div class="seccion__datoPersonal">
                                                <strong>IMC</strong>
                                                <% if (typeof peso !== 'undefined' && typeof estatura !== 'undefined' && peso !== null && estatura !== null && peso !== '' && estatura !== '' && peso !== 0 && estatura !== 0) { %>
                                                    <% var imc = peso / (estatura * estatura); %>
                                                    <p><%= imc.toFixed(2) %></p>
                                                <% } else { %>
                                                    <p class="vacio">Vacío</p>
                                                <% } %>                                            
                                            </div>
                                            <div class="seccion__datoPersonal">
                                                <strong>Nacionalidad</strong>
                                                <% if (typeof nacionalidad !== 'undefined' && nacionalidad !== null && nacionalidad !== '') { %>
                                                    <p><%= nacionalidad %></p>
                                                <% } else { %>
                                                    <p class="vacio">Vacío</p>
                                                <% } %>
                                            </div>
                                        </div>
                                        <div class="seccion__divisorDatos">
                                            <div class="seccion__datoPersonal">
                                                <strong>Edad</strong>
                                                <% if (typeof nacimiento !== 'undefined' && nacimiento !== null && nacimiento !== '' && nacimiento !== '0000-00-00') { %>
                                                    <% 
                                                    // Convertir la fecha de nacimiento a objeto Date
                                                    var fechaNacimiento = new Date(nacimiento);
                                                    
                                                    // Calcular la fecha actual
                                                    var fechaActual = new Date();
                                                    
                                                    // Calcular la diferencia de años entre la fecha actual y la fecha de nacimiento
                                                    var edad = fechaActual.getFullYear() - fechaNacimiento.getFullYear();
                                                    
                                                    // Ajustar la edad si aún no se ha cumplido el aniversario de nacimiento este año
                                                    if (fechaActual.getMonth() < fechaNacimiento.getMonth() || (fechaActual.getMonth() === fechaNacimiento.getMonth() && fechaActual.getDate() < fechaNacimiento.getDate())) {
                                                        edad--;
                                                    }
                                                    %>
                                                    <p><%= edad %> años</p>
                                                <% } else { %>
                                                    <p class="vacio">Vacío</p>
                                                <% } %>
                                                
                                            </div>
                                            <div class=" seccion__datoPersonal">
                                                <strong>Estatura</strong>
                                                <% if (typeof estatura !== 'undefined' && estatura !== null && estatura !== '' && estatura !== 0) { %>
                                                    <p><%= estatura %> m</p>
                                                <% } else { %>
                                                    <p class="vacio">Vacío</p>
                                                <% } %>
                                            </div>
                                            <div class="seccion__datoPersonal">
                                                <strong>Sexo</strong>
                                                <% if (typeof sexo !== 'undefined' && sexo !== null && sexo !== '') { %>
                                                    <p><%= sexo %></p>
                                                <% } else { %>
                                                    <p class="vacio">Vacío</p>
                                                <% } %>
                                            </div>
                                            <div class="seccion__datoPersonal">
                                                <strong>Tipo de sangre</strong>
                                                <% if (typeof sangre !== 'undefined' && sangre !== null && sangre !== '') { %>
                                                    <p><%= sangre %></p>
                                                <% } else { %>
                                                    <p class="vacio">Vacío</p>
                                                <% } %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="seccion" id="seccion-paciente">
                    <div class="seccion__titulo">
                        <i class="fa-solid fa-user"></i>
                        <h2>Paciente</h2>
                    </div>
                    <div class="seccion__fila">
                        <div class="seccion__buscarPaciente">
                            <strong>Ingresar el telefono del paciente</strong>
                            <form id="consultarPaciente" class="formularioCurp">
                                <input name="telefonoPaciente" type="text" id="telefonoPaciente" class="input-style input-style-telefonoPaciente" placeholder="+52 123 456 7890" maxlength="16" oninput="formatoTelefono(this)">
                                <button type="button" name="botonDatosPersonales" id="abrir__paciente" class="boton-datos">
                                    <i class="fa-solid fa-eye"></i>
                                    <p id="texto_boton">Consultar</p>
                                </button>
                            </form>
                            <div class="mensajeAlerta">
                                <i class="fa-solid fa-triangle-exclamation"></i>
                                <strong>Nota:</strong> El número telefónico del paciente deberá estar verificado para recibir el código.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    
    <div id="fondo__paciente" class="fondoVentana">
        <div id="ventana__paciente" class="ventana ventana__paciente">
            <div class="ventana__titulo">
                <h2>Verificación de paciente</h2>
                <span>Si el número telefónico del paciente está verificado, ingrese el código SMS recibido del paciente para otorgar acceso a sus datos.</span>
            </div>
            <div class="ventana__espacio">
                <form class="formularioSMS" id="formularioSMS">
                    <input name="codigoSMS" type="text" id="codigoSMS" class="input-style input-style-sms" placeholder="- - - - - -" maxlength="6" oninput="formatoNumerico(this)" name="codigoRegistro">
                </form>
            </div>
            <div class="ventana__botones">
                <button id="consultar__paciente" class="boton-datos">Consultar</button>
                <button id="cerrar__paciente" class="boton-datos cerrarVentana">Cancelar</button>
            </div>
        </div>
    </div>
</body>
</html>