<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Regimed | Registro</title>
    <link rel="stylesheet" href="CSS/registro.css" />
    <script
      src="https://kit.fontawesome.com/f5b8feb020.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <%- include('includes/nav.ejs') %>
    <main class="base">
      <div class="base__izq">
        <div class="base__contenedor--izq">
          <div class="base__contenedor--frase">
            <div class="base__titulos">
              <h1>Busca la salud...</h1>
              <h1>Busca la felicidad...</h1>
              <h1>Busca la vida...</h1>
            </div>
            <div class="base__frases">
              <div class="base__frase">
                <div class="base__frase--texto">
                  <p>
                    “Los medicamentos no siempre son necesarios. La creencia en
                    la recuperación siempre lo es”
                  </p>
                  <div class="base__frase--autor">
                    <strong>Norman Cousins</strong>
                  </div>
                </div>
              </div>
              <div class="base__frase">
                <div class="base__frase--texto">
                  <p>“No hay medicina que cure lo que no cura la felicidad”</p>
                  <div class="base__frase--autor">
                    <strong>Gabriel García Márquez</strong>
                  </div>
                </div>
              </div>
              <div class="base__frase">
                <div class="base__frase--texto">
                  <p>
                    "Estar preparado es importante, saber esperar lo es aún más,
                    pero aprovechar el momento adecuado es la clave de la vida”
                  </p>
                  <div class="base__frase--autor">
                    <strong>Arthur Schnitzler</strong>
                  </div>
                </div>
              </div>
            </div>
            <div class="button-holder">
              <a href="#slider-1" class="button"></a>
              <a href="#slider-2" class="button"></a>
              <a href="#slider-3" class="button"></a>
            </div>
          </div>
          <div class="base__referencia">
            <p>
              Foto de
              <a
                href="https://www.pexels.com/es-es/foto/sano-persona-corazon-mano-4386466/"
                >Karolina Grabowska</a
              >
            </p>
          </div>
        </div>
      </div>
      <div class="derecha">
        <div class="formulario">
          <div class="contenedor">
            <div class="contenido">
              <p>COMENCEMOS</p>
              <h2>Crea una cuenta</h2>
              <form action="/registro" method="post">
                <div
                  class="input <%= typeof errorField !== 'undefined' && errorField === 'nombre' ? 'error' : '' %>"
                >
                  <p>Nombre</p>
                  <input
                    type="text"
                    name="nombre"
                    placeholder="Carlos Alberto"
                    id="nombre"
                    value="<%= formData.nombre || '' %>"
                  />
                </div>

                <div
                  class="input <%= typeof errorField !== 'undefined' && errorField === 'apellido_paterno' ? 'error' : '' %>"
                >
                  <p>Apellido Paterno</p>
                  <input
                    type="text"
                    name="apellido_paterno"
                    placeholder="Ramírez"
                    id="apellido_paterno"
                    value="<%= formData.apellido_paterno || '' %>"
                  />
                </div>

                <div
                  class="input <%= typeof errorField !== 'undefined' && errorField === 'apellido_materno' ? 'error' : '' %>"
                >
                  <p>Apellido Materno</p>
                  <input
                    type="text"
                    name="apellido_materno"
                    placeholder="Rodríguez"
                    id="apellido_materno"
                    value="<%= formData.apellido_materno || '' %>"
                  />
                </div>

                <div
                  class="input <%= typeof errorField !== 'undefined' && errorField === 'correo' ? 'error' : '' %>"
                >
                  <p>Correo electrónico</p>
                  <input
                    type="email"
                    name="correo"
                    placeholder="carlosram@nomail.com"
                    id="email"
                    value="<%= formData.correo || '' %>"
                  />
                </div>

                <div
                  class="input contrasenia <%= typeof errorField !== 'undefined' && (errorField === 'contrasenia' || errorField === 'dif_Contrasenia') ? 'error' : '' %>"
                >
                  <p>Contraseña</p>
                  <input
                    type="password"
                    name="contrasenia"
                    placeholder="••••••••"
                    id="contrasenia"
                  />
                  <div class="icono">
                    <i class="fa-solid fa-eye" id="icono1"></i>
                  </div>
                </div>

                <div
                  class="input contrasenia <%= typeof errorField !== 'undefined' && (errorField === 'conf_contrasenia' || errorField === 'dif_Contrasenia') ? 'error' : '' %>"
                >
                  <p>Confirmar contraseña</p>
                  <input
                    type="password"
                    name="conf_contrasenia"
                    placeholder="••••••••"
                    id="conf_contrasenia"
                  />
                  <div class="icono">
                    <i class="fa-solid fa-eye" id="icono2"></i>
                  </div>
                </div>
                <% if (typeof error !== 'undefined') { %>
                <p class="error_controlador" id="error_controlador">
                  <%= error %>
                </p>
                <% } %>
                <input
                  name="btn_registrar"
                  class="submit"
                  type="submit"
                  value="REGISTRAR"
                />
              </form>
              <p class="login">
                ¿Ya tienes una cuenta?&nbsp<a href="./acceso">ENTRA AQUÍ</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script src="JS/contraseñaRegistro.js"></script>
  </body>
</html>
