<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regimed | Perfil</title>
    <link rel="icon" href="/images/logo/LogoPositive.png" type="image/png">
    <link rel="stylesheet" href="/styles/doctor/doctor.css">
    <script src="https://kit.fontawesome.com/f5b8feb020.js" crossorigin="anonymous"></script>
    <script defer src="/scripts/doctor/paciente.js"></script>
    <script defer src="/scripts/common/verConsulta.js"></script>
    <script defer src="/scripts/common/verEstudio.js"></script>
    <script defer src="/scripts/common/aside.js"></script>
    <script defer src="/scripts/common/datosPersonales.js"></script>
    <script defer src="/scripts/common/tarjetaDatos.js"></script>
    <script defer src="/scripts/common/buscadorVacunas.js"></script>
    <script defer src="/scripts/common/agregarRegistro.js"></script>
    <script defer src="/scripts/common/interfazUsuario.js"></script>
    <script defer src="/scripts/common/verificacionTelefono.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js" integrity="sha512-CNgIRecGo7nphbeZ04Sc13ka07paqdeTu0WR1IM4kNcpmBAUSHSQX0FslNhTDadL4O5SAGapGt4FodqL8My0mA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script defer src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body>
    <div class="contenido">
        <nav>
            <a href="/">
                <img class="logo" src="/images/logo/LogoCompPositive.png" href="">
            </a>
            <ul>
                <li>
                    <a href="/perfil">Perfil</a>
                </li>
                <li>
                    <a href="/cerrarSesion">Cerrar Sesión</a>
                </li>
            </ul>
        </nav>
        <aside>
            <ul>
                <li>
                    <a href="#informacion" class="seleccionado">
                        <i class="fa-solid fa-user-doctor"></i>
                        Información
                    </a>
                </li>
                <li>
                    <a href="#paciente">
                        <i class="fa-solid fa-user"></i>
                        Paciente
                    </a>
                </li>
                <li>
                    <a href="#historial">
                        <i class="fa-solid fa-file-medical"></i>
                        Historial médico
                    </a>
                </li>
                <li>
                    <a href="#vacunas">
                        <i class="fa-solid fa-syringe"></i>
                        Vacunas
                    </a>
                </li>
                <li>
                    <a href="#consultas">
                        <i class="fa-solid fa-notes-medical"></i>
                        Consultas
                    </a>
                </li>
                <li>
                    <a href="#registros">
                        <i class="fa-solid fa-user-group"></i>
                        Registros familiares
                    </a>
                </li>
            </ul>
            <ul>
                <li>
                    <a id="abrir__tarjetaDatos" data-usuario-id="<%= sesion %>">
                        <i class="fa-solid fa-address-card"></i>
                        Descargar Tarjeta
                    </a>
                </li>
            </ul>
        </aside>
        <main id="informacion">
            <div class="seccion">
                <div class="seccion__titulo">
                    <h1 class="seccion__titulo--titulo">
                        <i class="fa-solid fa-user-doctor"></i> Información General
                    </h1>
                    <div class="seccion__titulo--boton">
                        <button type="button" name="botonDatosPersonales" class="boton-datos" id="abrir__informacion">
                            <i class='fa-solid fa-pen-to-square'></i> Editar
                        </button>
                    </div>
                </div>
                <div class="seccion__contenido informacion__general">
                    <div class="informacion__general--informacion informacion__primero">
                        <img src="/images/users/<%= imagenAMostrar %>" alt="" id="imagenGuardada">
                        <% if (typeof nombre_comp !=='undefined' && nombre_comp !==null && nombre_comp !=='' ) { %>
                            <p>
                                <%= nombre_comp %>
                            </p>
                            <% } else { %>
                                <p class="vacio">Vacío</p>
                                <% } %>
                                    <ul>
                                        <li>
                                            <span>CURP</span>
                                            <% if (typeof curp !=='undefined' && curp !==null && curp !=='' ) { %>
                                                <p>
                                                    <%= curp %>
                                                </p>
                                                <% } else { %>
                                                    <p class="vacio">Vacío</p>
                                                    <% } %>
                                        </li>
                                        <li>
                                            <span>Teléfono</span>
                                            <% if (typeof telefono !=='undefined' && telefono !==null && telefono !==''
                                                ) { %>
                                                <p>
                                                    <%= telefono %>
                                                        <%if (telefonoVerificado==="V" ) {%><i
                                                                class="fa-solid fa-circle-check"></i>
                                                            <%}%>
                                                                <%if (telefonoVerificado==="N" ) {%><i
                                                                        class="fa-solid fa-circle-xmark"></i></i>
                                                                    <%}%>
                                                </p>
                                                <% } else { %>
                                                    <p class="vacio">Vacío</p>
                                                    <% } %>
                                        </li>
                                    </ul>
                    </div>
                    <ul class="informacion__general--informacion informacion__lateral">
                        <li>
                            <span>Peso</span>
                            <% if (typeof peso !=='undefined' && peso !==null && peso !=='' && peso !==0) { %>
                                <p>
                                    <%= peso %> Kg
                                </p>
                                <% } else { %>
                                    <p class="vacio">Vacío</p>
                                    <% } %>
                        </li>
                        <li>
                            <span>IMC</span>
                            <% if (typeof peso !=='undefined' && typeof estatura !=='undefined' && peso !==null &&
                                estatura !==null && peso !=='' && estatura !=='' && peso !==0 && estatura !==0) { %>
                                <% var imc=peso / (estatura * estatura); %>
                                    <p>
                                        <%= imc.toFixed(2) %>
                                    </p>
                                    <% } else { %>
                                        <p class="vacio">Vacío</p>
                                        <% } %>
                        </li>
                        <li>
                            <span>Sexo</span>
                            <% if (typeof sexo !=='undefined' && sexo !==null && sexo !=='' ) { %>
                                <p>
                                    <%= sexo %>
                                </p>
                                <% } else { %>
                                    <p class="vacio">Vacío</p>
                                    <% } %>
                        </li>
                        <li>
                            <span>Nacimiento</span>
                            <% if (typeof nacimiento !== 'undefined' && nacimiento !== null && nacimiento !== '' && nacimiento !== '0000-00-00') { %> 
                                <p> <%= nacimiento %> </p>
                             <% } else { %> 
                                <p class="vacio">Vacío</p>
                             <% } %>
                        </li>
                    </ul>
                    <ul class="informacion__general--informacion informacion__lateral">
                        <li>
                            <span>Estatura</span>
                            <% if (typeof estatura !=='undefined' && estatura !==null && estatura !=='' && estatura
                                !==0) { %>
                                <p>
                                    <%= estatura %> m
                                </p>
                                <% } else { %>
                                    <p class="vacio">Vacío</p>
                                    <% } %>
                        </li>
                        <li>
                            <span>Tipo de sangre</span>
                            <% if (typeof sangre !=='undefined' && sangre !==null && sangre !=='' ) { %>
                                <p>
                                    <%= sangre %>
                                </p>
                                <% } else { %>
                                    <p class="vacio">Vacío</p>
                                    <% } %>
                        </li>
                        <li>
                            <span>Nacionalidad</span>
                            <% if (typeof nacionalidad !=='undefined' && nacionalidad !==null && nacionalidad !=='' ) {
                                %>
                                <p>
                                    <%= nacionalidad %>
                                </p>
                                <% } else { %>
                                    <p class="vacio">Vacío</p>
                                    <% } %>
                        </li>
                        <li>
                            <span>Edad</span>
                            <% if (typeof nacimiento !=='undefined' && nacimiento !==null && nacimiento !=='' &&
                                nacimiento !=='0000-00-00' ) { %>
                                <% var fechaNacimiento=new Date(nacimiento); var fechaActual=new Date(); var
                                    edad=fechaActual.getFullYear() - fechaNacimiento.getFullYear(); if
                                    (fechaActual.getMonth() < fechaNacimiento.getMonth() ||
                                    (fechaActual.getMonth()===fechaNacimiento.getMonth() && fechaActual.getDate() <
                                    fechaNacimiento.getDate())) { edad--; } %>
                                    <p>
                                        <%= edad %> años
                                    </p>
                                    <% } else { %>
                                        <p class="vacio">Vacío</p>
                                        <% } %>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="paciente" class="seccion">
                <div class="seccion__titulo">
                    <h1 class="seccion__titulo--titulo">
                        <i class="fa-solid fa-user"></i> Paciente
                    </h1>
                </div>
                <div class="seccion__contenido seccion__paciente">
                    <h2>Ingrese el CURP del paciente</h2>
                    <div class="paciente__curp">
                        <input type="text" id="curpPaciente" class="input" oninput="formatoCURP(this)" maxlength="18">
                        <button class="boton-datos" id="abrir__paciente">
                            <i class="fa-solid fa-eye"></i> Consultar
                        </button>
                    </div>
                </div>
            </div>

            <div id="historial" class="seccion">
                <div class="seccion__titulo">
                    <h1 class="seccion__titulo--titulo">
                        <i class="fa-solid fa-file-medical"></i> Historial Médico
                    </h1>
                </div>

                <div class="seccion__contenido seccion__contenido--historial">
                <% if (historial && (historial.pp && Object.values(historial.pp).some(value => value) || historial.pnp && Object.values(historial.pnp).some(value => value) || historial.ah && Object.values(historial.ah).some(value => value))) { %>
                    <% if (historial.pp && Object.values(historial.pp).some(value => value)) { %>
                    <h2>Personales Patológicos</h2>
                    <div class="contenido__personalesPatologicos">
                        <% if (historial.pp.alergias) { %>
                        <span>Alergias:</span>
                        <input name="alergias" type="text" class="input" value="<%= historial.pp.alergias %>" disabled>
                        <% } %>
                        <% if (historial.pp.tabaco) { %>
                        <span>Tabaco:</span>
                        <input name="tabaco" type="text" class="input" value="<%= historial.pp.tabaco %>" disabled>
                        <% } %>
                        <% if (historial.pp.alcohol) { %>
                        <span>Alcohol:</span>
                        <input name="alcohol" type="text" class="input" value="<%= historial.pp.alcohol %>" disabled>
                        <% } %>
                        <% if (historial.pp.drogas) { %>
                        <span>Drogas:</span>
                        <input name="drogas" type="text" class="input" value="<%= historial.pp.drogas %>" disabled>
                        <% } %>
                        <% if (historial.pp.padecimientos) { %>
                        <span>Padecimientos:</span>
                        <input name="padecimientos" type="text" class="input" value="<%= historial.pp.padecimientos %>" disabled>
                        <% } %>
                        <% if (historial.pp.medicamentos) { %>
                        <span>Medicamentos:</span>
                        <input name="medicamentos" type="text" class="input" value="<%= historial.pp.medicamentos %>" disabled>
                        <% } %>
                        <% if (historial.pp.quirurgicos) { %>
                        <span>Quirúrgicos:</span>
                        <input name="quirurgicos" type="text" class="input" value="<%= historial.pp.quirurgicos %>" disabled>
                        <% } %>
                        <% if (historial.pp.traumatologicos) { %>
                        <span>Traumatológicos:</span>
                        <input name="traumatologicos" type="text" class="input" value="<%= historial.pp.traumatologicos %>" disabled>
                        <% } %>
                        <% if (historial.pp.transfusionales) { %>
                        <span>Transfusionales:</span>
                        <input name="transfusionales" type="text" class="input" value="<%= historial.pp.transfusionales %>" disabled>
                        <% } %>
                        <% if (historial.pp.intoleranciaMedicamentos) { %>
                        <span>Intolerancia a Medicamentos:</span>
                        <input name="intoleranciaMedicamentos" type="text" class="input" value="<%= historial.pp.intoleranciaMedicamentos %>" disabled>
                        <% } %>
                        <% if (historial.pp.otros) { %>
                        <span>Otros:</span>
                        <input name="otros" type="text" class="input" value="<%= historial.pp.otros %>" disabled>
                        <% } %>
                    </div>
                    <% } %>
                    
                    <% if (historial.pnp && Object.values(historial.pnp).some(value => value)) { %>
                    <h2>Personales No Patológicos</h2>
                    <div class="contenido__personalesNoPatologicos">
                        <% if (historial.pnp.ejercicio) { %>
                        <span>Ejercicio:</span>
                        <input name="ejercicio" type="text" class="input" value="<%= historial.pnp.ejercicio %>" disabled>
                        <% } %>
                        <% if (historial.pnp.suplementos) { %>
                        <span>Suplementos:</span>
                        <input name="suplementos" type="text" class="input" value="<%= historial.pnp.suplementos %>" disabled>
                        <% } %>
                        <% if (historial.pnp.viajesRecientes) { %>
                        <span>Viajes Recientes:</span>
                        <input name="viajesRecientes" type="text" class="input" value="<%= historial.pnp.viajesRecientes %>" disabled>
                        <% } %>
                        <% if (historial.pnp.tatuajes) { %>
                        <span>Tatuajes:</span>
                        <input name="tatuajes" type="text" class="input" value="<%= historial.pnp.tatuajes %>" disabled>
                        <% } %>
                        <% if (historial.pnp.perforaciones) { %>
                        <span>Perforaciones:</span>
                        <input name="perforaciones" type="text" class="input" value="<%= historial.pnp.perforaciones %>" disabled>
                        <% } %>
                        <% if (historial.pnp.otros) { %>
                        <span>Otros:</span>
                        <input name="otros" type="text" class="input" value="<%= historial.pnp.otros %>" disabled>
                        <% } %>
                    </div>
                    <% } %>
                    
                    <% if (historial.ah && Object.values(historial.ah).some(value => value)) { %>
                    <h2>Antecedentes Heredofamiliares</h2>
                    <div class="contenido__antecedentesHeredofamiliares">
                        <span></span>
                        <span class="familiares">Abuelos</span>
                        <span class="familiares">Padre</span>
                        <span class="familiares">Madre</span>
                        <span class="familiares">Hermanos</span>
                    
                        <% if (historial.ah.diabetesAbuelos || historial.ah.diabetesPadre || historial.ah.diabetesMadre || historial.ah.diabetesHermanos) { %>
                        <span>Diabetes:</span>
                        <input name="diabetesAbuelos" type="text" class="input" value="<%= historial.ah.diabetesAbuelos %>" disabled>
                        <input name="diabetesPadre" type="text" class="input" value="<%= historial.ah.diabetesPadre %>" disabled>
                        <input name="diabetesMadre" type="text" class="input" value="<%= historial.ah.diabetesMadre %>" disabled>
                        <input name="diabetesHermanos" type="text" class="input" value="<%= historial.ah.diabetesHermanos %>" disabled>
                        <% } %>
                    
                        <% if (historial.ah.nefropatiasAbuelos || historial.ah.nefropatiasPadre || historial.ah.nefropatiasMadre || historial.ah.nefropatiasHermanos) { %>
                        <span>Nefropatías:</span>
                        <input name="nefropatiasAbuelos" type="text" class="input" value="<%= historial.ah.nefropatiasAbuelos %>" disabled>
                        <input name="nefropatiasPadre" type="text" class="input" value="<%= historial.ah.nefropatiasPadre %>" disabled>
                        <input name="nefropatiasMadre" type="text" class="input" value="<%= historial.ah.nefropatiasMadre %>" disabled>
                        <input name="nefropatiasHermanos" type="text" class="input" value="<%= historial.ah.nefropatiasHermanos %>" disabled>
                        <% } %>
                    
                        <% if (historial.ah.mentalesAbuelos || historial.ah.mentalesPadre || historial.ah.mentalesMadre || historial.ah.mentalesHermanos) { %>
                        <span>Enfermedades Mentales:</span>
                        <input name="mentalesAbuelos" type="text" class="input" value="<%= historial.ah.mentalesAbuelos %>" disabled>
                        <input name="mentalesPadre" type="text" class="input" value="<%= historial.ah.mentalesPadre %>" disabled>
                        <input name="mentalesMadre" type="text" class="input" value="<%= historial.ah.mentalesMadre %>" disabled>
                        <input name="mentalesHermanos" type="text" class="input" value="<%= historial.ah.mentalesHermanos %>" disabled>
                        <% } %>
                    
                        <% if (historial.ah.hipertensionAbuelos || historial.ah.hipertensionPadre || historial.ah.hipertensionMadre || historial.ah.hipertensionHermanos) { %>
                        <span>Hipertensión Arterial:</span>
                        <input name="hipertensionAbuelos" type="text" class="input" value="<%= historial.ah.hipertensionAbuelos %>" disabled>
                        <input name="hipertensionPadre" type="text" class="input" value="<%= historial.ah.hipertensionPadre %>" disabled>
                        <input name="hipertensionMadre" type="text" class="input" value="<%= historial.ah.hipertensionMadre %>" disabled>
                        <input name="hipertensionHermanos" type="text" class="input" value="<%= historial.ah.hipertensionHermanos %>" disabled>
                        <% } %>
                    
                        <% if (historial.ah.oncologicosAbuelos || historial.ah.oncologicosPadre || historial.ah.oncologicosMadre || historial.ah.oncologicosHermanos) { %>
                        <span>Oncológicos:</span>
                        <input name="oncologicosAbuelos" type="text" class="input" value="<%= historial.ah.oncologicosAbuelos %>" disabled>
                        <input name="oncologicosPadre" type="text" class="input" value="<%= historial.ah.oncologicosPadre %>" disabled>
                        <input name="oncologicosMadre" type="text" class="input" value="<%= historial.ah.oncologicosMadre %>" disabled>
                        <input name="oncologicosHermanos" type="text" class="input" value="<%= historial.ah.oncologicosHermanos %>" disabled>
                        <% } %>
                    
                        <% if (historial.ah.hepatopatiasAbuelos || historial.ah.hepatopatiasPadre || historial.ah.hepatopatiasMadre || historial.ah.hepatopatiasHermanos) { %>
                        <span>Hepatopatías:</span>
                        <input name="hepatopatiasAbuelos" type="text" class="input" value="<%= historial.ah.hepatopatiasAbuelos %>" disabled>
                        <input name="hepatopatiasPadre" type="text" class="input" value="<%= historial.ah.hepatopatiasPadre %>" disabled>
                        <input name="hepatopatiasMadre" type="text" class="input" value="<%= historial.ah.hepatopatiasMadre %>" disabled>
                        <input name="hepatopatiasHermanos" type="text" class="input" value="<%= historial.ah.hepatopatiasHermanos %>" disabled>
                        <% } %>
                    
                        <% if (historial.ah.heredoOtrosAbuelos || historial.ah.heredoOtrosPadre || historial.ah.heredoOtrosMadre || historial.ah.heredoOtrosHermanos) { %>
                        <span>Otros:</span>
                        <input name="heredoOtrosAbuelos" type="text" class="input" value="<%= historial.ah.heredoOtrosAbuelos %>" disabled>
                        <input name="heredoOtrosPadre" type="text" class="input" value="<%= historial.ah.heredoOtrosPadre %>" disabled>
                        <input name="heredoOtrosMadre" type="text" class="input" value="<%= historial.ah.heredoOtrosMadre %>" disabled>
                        <input name="heredoOtrosHermanos" type="text" class="input" value="<%= historial.ah.heredoOtrosHermanos %>" disabled>
                        <% } %>
                    </div>
                    <% } %>
                    <span>Última modificación: <%= historial.ultimaModificacion %> <br>
                        por el médico <%= historial.doctor.nombre %> <br>
                        de cédula <%= historial.doctor.cedula %></span>
                        
                    </div>
                    <% } else { %>
                        <p>No hay datos en el historial.</p>
                    <% } %>
                </div>

                <div id="vacunas" class="seccion">
                    <div class="seccion__titulo">
                        <h1 class="seccion__titulo--titulo">
                            <i class="fa-solid fa-syringe"></i> Vacunas
                        </h1>
                    </div>
    
                    <div class="seccion__vacunas">
                        <div class="seccion__contenido">
                            <div class="buscador">
                                <input class="input" type="text" id="buscar" placeholder="Buscar vacuna...">
    
                                <select class="input" id="ordenarPor">
                                    <option value="nombre" selected>Nombre</option>
                                    <option value="fecha">Fecha</option>
                                    <option value="profesional">Profesional</option>
                                    <option value="fabricante">Fabricante</option>
                                    <option value="lote">Número de Lote</option>
                                    <option value="serie">Número de Serie</option>
                                    <option value="dosis">Dosis Administrada</option>
                                    <option value="lugar">Lugar de Administración</option>
                                </select>
                            </div>
                            <div class="seccion__contenido--vacunas vacunas">
                                <% if (vacunas.length==0) {%>
                                    <p>Ups... no hay registros existentes todavía</p>
                                    <%} else {%>
                                        <% vacunas.forEach(vacunas=> { %>
                                            <div class="vacuna">
                                                <div class="vacuna--informacion">
                                                    <p class="vacuna__nombre">
                                                        <%= vacunas.vacuna_aplicada %>
                                                    </p>
                                                    <p>Fabricante: <%= vacunas.fabricante %>
                                                    </p>
                                                    <p>Aplicación: <%= vacunas.fechaAplicacion %>
                                                    </p>
                                                    <p>No. Lote: <%= vacunas.numeroLote %>
                                                    </p>
                                                    <p>No. Serie: <%= vacunas.numeroSerie %>
                                                    </p>
                                                    <p>Dosis: <%= vacunas.dosisAdministrada %>
                                                    </p>
                                                    <p>Lugar de administración: <%= vacunas.lugarAdministracion %>
                                                    </p>
                                                    <p>Profesional: <%= vacunas.nombre %>
                                                    </p>
                                                    <p>Cédula del profesional: <%= vacunas.cedula %>
                                                    </p>
                                                    <% if (vacunas.siguienteDosis && vacunas.siguienteDosis !== '0000-00-00 00:00:00' && vacunas.siguienteDosis !== 'NaN-NaN-NaN') { %>
                                                        <p class="siguiente-dosis">Siguiente dosis: <%= vacunas.siguienteDosis %></p>
                                                    <% } %>
                                                </div>
                                            </div>
                                            <% })} %>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div id="consultas" class="seccion">
                    <div id="consultas" class="seccion__titulo">
                        <h1 class="seccion__titulo--titulo">
                            <i class="fa-solid fa-notes-medical"></i> Consultas
                        </h1>
                    </div>
                    <div class="seccion__consultas">
                        <div class="seccion__contenido seccion__consultas--contenedor">
                            <div class="modal__subtitulo">
                                <h2>Consultas</h2>
                            </div>
                            <div class="seccion__contenido--consultas">
                                <% consultas.forEach(consultas=> { %>
                                    <div class="consulta">
                                        <div class="consulta--informacion">
                                            <p>
                                                <%= consultas.observaciones %>
                                            </p>
                                            <p>Profesional: <%= consultas.nombre %>
                                            </p>
                                            <p>Cédula del profesional: <%= consultas.cedula %>
                                            </p>
                                            <p>Fecha: <%= consultas.fechaConsulta %>
                                            </p>
                                        </div>
                                        <div class="consulta__boton">
                                            <button class="boton-datos abrir__consulta"
                                                data-consulta-id="<%= consultas.consulta_id %>">
                                                Ver Consulta
                                            </button>
                                        </div>
                                    </div>
                                    <% }) %>
                            </div>
                        </div>
                        <div class="seccion__contenido seccion__consultas--contenedor">
                            <div class="modal__subtitulo">
                                <h2>Estudios</h2>
                            </div>
                            <div class="seccion__contenido--consultas">
                                <% estudios.forEach(estudios=> { %>
                                    <div class="consulta">
                                        <div class="consulta--informacion">
                                            <p class="vacuna__nombre">
                                                <%= estudios.tipoEstudio %>
                                            </p>
                                            <p>Motivo: <%= estudios.motivoEstudio %>
                                            </p>
                                            <p>Profesional: <%= estudios.nombre %>
                                            </p>
                                            <p>Cédula del profesional: <%= estudios.cedula %>
                                            </p>
                                            <p>Fecha: <%= estudios.fechaEstudio %>
                                            </p>
                                        </div>
                                        <div class="estudio__boton">
                                            <button class="boton-datos abrir__estudio"
                                                data-estudio-id="<%= estudios.estudio_id %>">
                                                Ver Estudio
                                            </button>
                                        </div>
                                    </div>
                                    <% }) %>
                            </div>
                        </div>
                    </div>
                </div>
            <div id="registros" class="seccion">
                <div class="seccion__titulo">
                    <h1><i class="fa-solid fa-user-group"></i>Registros Familiares</h1>
                </div>
                <div class="seccion__contenido seccion__registros">
                    <% registros.forEach(registro=> { %>
                        <button class="registro" id="botonUsuario_<%= registro.usuario_id %>">
                            <img src="/images/users/<%= registro.imagen %>" alt="">
                            <div class="registro__nombre">
                                <%= registro.nombre %>
                            </div>
                        </button>
                        <% }) %>
                            <button class="boton-datos nuevo__registro" id="abrir__registro">
                                <i class="fa-solid fa-plus"></i>
                                <span>Agregar Registro</span>
                            </button>
                </div>
            </div>
        </main>
    </div>

    <div class="fondo__modal" id="fondo__informacion">
        <div class="modal" id="modal__informacion">
            <h1 class="modal__titulo">
                <i class="fa-solid fa-user"></i> Información General
            </h1>
            <form class="modal__contenido" enctype="multipart/form-data" id="formularioDatosPersonales">
                <div class="informacion__general--informacion informacion__primero">
                    <div class="informacion__imagen">
                        <img src="/images/users/<%= imagenAMostrar %>" id="imagenPrevisualizada">
                        <div class="editar-imagen">
                            <i class="fa-solid fa-camera"></i>
                            <input type="file" name="imagen_usuario" id="imagenUsuario" accept="image/*">
                        </div>
                    </div>
                    <div class="input-group">
                        <label class="label">Nombre</label>
                        <% if (typeof nombre_comp !=='undefined' && nombre_comp !==null && nombre_comp !=='' ) { %>
                            <input type="text" id="nombreUsuario" placeholder="Vacío" oninput="formatoTexto(this)"
                                value="<%= nombre_comp %>" class="input">
                            <% } else { %>
                                <input type="text" id="nombreUsuario" placeholder="Vacío" oninput="formatoTexto(this)"
                                    class="input">
                                <% } %>
                    </div>
                    <ul>
                        <li>
                            <div class="input-group">
                                <label class="label">CURP</label>
                                <% if (typeof curp !=='undefined' && curp !==null && curp !=='' ) { %>
                                    <input type="text" id="curpUsuario" placeholder="Vacío" maxlength="18"
                                        oninput="formatoCURP(this)" value="<%= curp %>" class="input">
                                    <% } else { %>
                                        <input type="text" id="curpUsuario" placeholder="Vacío" maxlength="18"
                                            oninput="formatoCURP(this)" class="input">
                                        <% } %>
                            </div>
                        </li>
                        <li>
                            <div class="input-group">
                                <label class="label">Telefono</label>
                                <% if (typeof telefono !=='undefined' && telefono !==null && telefono !=='' ) { %>
                                    <input type="tel" id="telefonoUsuario" placeholder="+52 123 456 7890" maxlength="16"
                                        oninput="formatoTelefono(this)" value="<%= telefono %>" class="input">
                                    <% } else { %>
                                        <input type="tel" id="telefonoUsuario" placeholder="+52 123 456 7890"
                                            maxlength="16" oninput="formatoTelefono(this)" class="input">
                                        <% } %>
                            </div>
                        </li>
                    </ul>
                </div>
                <ul class="informacion__general--informacion informacion__lateral">
                    <li>
                        <div class="input-group">
                            <label class="label">Peso (Kg)</label>
                            <% if (typeof peso !=='undefined' && peso !==null && peso !=='' && peso !==0) { %>
                                <input type="text" id="pesoUsuario" placeholder="Vacío" maxlength="6"
                                    oninput="formatoPeso(this)" value="<%= peso %>" class="input lateral">
                                <% } else { %>
                                    <input type="text" id="pesoUsuario" placeholder="Vacío" maxlength="6"
                                        oninput="formatoPeso(this)" class="input lateral">
                                    <% } %>
                        </div>
                    </li>
                    <li>
                        <div class="input-group">
                            <label class="label">Sexo</label>
                            <select class="input lateral" id="sexoUsuario" name="sexo">
                                <option value="" selected disabled>Selecciona</option>
                                <option value="Hombre" <% if (sexo==='Hombre' ) { %> selected <% } %> >Hombre</option>
                                <option value="Mujer" <% if (sexo==='Mujer' ) { %> selected <% } %> >Mujer</option>
                            </select>
                        </div>
                    </li>
                    <li>
                        <div class="input-group">
                            <label class="label">Nacimiento</label>
                            <% if (typeof nacimiento !=='undefined' && nacimiento !==null && nacimiento !=='' &&
                                nacimiento !=='0000-00-00' ) { %>
                                <input type="date" id="nacimientoUsuario" value="<%= nacimiento %>"
                                    class="input lateral">
                                <% } else { %>
                                    <input type="date" id="nacimientoUsuario" class="input lateral">
                                    <% } %>
                        </div>
                    </li>
                </ul>
                <ul class="informacion__general--informacion informacion__lateral">
                    <li>
                        <div class="input-group">
                            <label class="label">Estatura (cm)</label>
                            <% if (typeof estatura !=='undefined' && estatura !==null && estatura !=='' && estatura
                                !==0) { %>
                                <input type="text" id="estaturaUsuario" placeholder="Vacío" maxlength="3"
                                    oninput="formatoEstatura(this)" value="<%= estatura * 100 %>" class="input lateral">
                                <% } else { %>
                                    <input type="text" id="estaturaUsuario" placeholder="Vacío" maxlength="3"
                                        oninput="formatoEstatura(this)" class="input lateral">
                                    <% } %>
                        </div>
                    </li>
                    <li>
                        <div class="input-group">
                            <label class="label">Tipo de sangre</label>
                            <select class="input lateral" id="sangreUsuario" name="sangre">
                                <option value="" selected disabled>Selecciona</option>
                                <option value="A+" <% if (sangre==='A+' ) { %> selected <% } %>>A+</option>
                                <option value="A-" <% if (sangre==='A-' ) { %> selected <% } %>>A-</option>
                                <option value="B+" <% if (sangre==='B+' ) { %> selected <% } %>>B+</option>
                                <option value="B-" <% if (sangre==='B-' ) { %> selected <% } %>>B-</option>
                                <option value="AB+" <% if (sangre==='AB+' ) { %> selected <% } %>>AB+</option>
                                <option value="AB-" <% if (sangre==='AB-' ) { %> selected <% } %>>AB-</option>
                                <option value="O+" <% if (sangre==='O+' ) { %> selected <% } %>>O+</option>
                                <option value="O-" <% if (sangre==='O-' ) { %> selected <% } %>>O-</option>
                            </select>
                        </div>
                    </li>
                    <li>
                        <div class="input-group">
                            <label class="label">Nacionalidad</label>
                            <% if (typeof peso !=='undefined' && peso !==null && peso !=='' && peso !==0) { %>
                                <input type="text" id="nacionalidadUsuario" placeholder="Vacío" maxlength="30"
                                    oninput="formatoNacionalidad(this)" value="<%= nacionalidad %>"
                                    class="input lateral">
                                <% } else { %>
                                    <input type="text" id="nacionalidadUsuario" placeholder="Vacío" maxlength="30"
                                        oninput="formatoNacionalidad(this)" class="input lateral">
                                    <% } %>
                        </div>
                    </li>
                </ul>
            </form>
            <div class="modal__botones">
                <button id="guardar__informacion" class="boton-datos">
                    <i class="fa-solid fa-floppy-disk"></i> Guardar
                </button>
                <button id="cerrar__informacion" class="boton-datos boton-cancelar">
                    <i class="fa-solid fa-x"></i> Cancelar
                </button>
            </div>
        </div>
    </div>

    <div class="fondo__modal" id="fondo__paciente">
        <div class="modal" id="modal__paciente">
            <h1 class="modal__titulo">
                <i class="fa-solid fa-circle-check"></i> Verificación de paciente
            </h1>
            <span class="modal__span">Ingrese el código SMS recibido del paciente para otorgar acceso a sus datos.</span>
            <div class="modal__contenido">
                <form class="formularioSMS" id="formularioSMS">
                    <input name="codigoSMS" type="text" id="codigoSMSPaciente" class="input" placeholder="- - - - - -" maxlength="6" oninput="formatoNumerico(this)" name="codigoRegistro">
                </form>
            </div>
            <div class="modal__botones">
                <button id="consultar__paciente" class="boton-datos">Consultar</button>
                <button id="cerrar__paciente" class="boton-datos boton-cancelar">Cancelar</button>
            </div>
        </div>
    </div>

    <div id="fondo__verificarTelefono" class="fondo__modal">
        <div id="ventana__verificarTelefono" class="modal">
            <h1 class="modal__titulo">
                <i class="fa-solid fa-circle-check"></i>Verificar número telefónico
            </h1>
            <span>En breves recibirás un código de verificación al número <%= telefono %> <br> Ingresa el código en el
                    siguiente espacio.</span>
            <div class="modal__contenido">
                <input type="text" id="codigoSMS" class="input" placeholder="- - - - - -" maxlength="6"
                    oninput="formatoNumerico(this)" name="codigoRegistro">
            </div>
            <div class="modal__botones">
                <button id="verificar__verificarTelefono" class="boton-datos">Verificar</button>
                <button id="cerrar__verificarTelefono" class="boton-datos boton-cancelar">Cancelar</button>
            </div>
        </div>
    </div>

    <div id="fondo__registro" class="fondo__modal">
        <form id="modal__registro" class="modal">
            <h1 class="modal__titulo">
                <i class="fa-solid fa-user-group"></i> Registros familiares
            </h1>
            <div class="modal__contenido">
                <div class="modal__codigos">
                    <div class="modal__codigo">
                        <p id="texto__codigo">Ingresa el código en otro registro</p>
                        <div class="loader__container" id="loader__container">
                            <div class="loader" id="loader__gray">
                                <div class="loader-square"></div>
                                <div class="loader-square"></div>
                                <div class="loader-square"></div>
                                <div class="loader-square"></div>
                                <div class="loader-square"></div>
                                <div class="loader-square"></div>
                                <div class="loader-square"></div>
                            </div>
                        </div>
                        <span id="contenedorCodigo"></span>
                        <p id="temporizadorCodigo">El código expirará en
                            <strong id="tiempoRestante"></strong>
                        </p>
                        <p id="regenerarCodigo">El código ha expirado, <a href="#">regeneralo aquí</a></p>
                    </div>
                    <p>o</p>
                    <div class="modal__codigo">
                        Ingresa el código del familiar a registrar
                        <div class="input-group">
                            <input class="input" type="text" maxlength="6" placeholder="⎯ ⎯ ⎯ ⎯ ⎯ ⎯" oninput="formatoNumerico(this)" name="codigoRegistro">
                        </div>
                        <div class="g-recaptcha" data-sitekey="<%= captcha_web %>"></div>
                    </div>
                </div>
            </div>
            <div class="modal__botones">
                <button type="submit" class="boton-datos" id="enviarCodigo">
                    <i class="fa-solid fa-floppy-disk"></i> Guardar
                </button>
                <button type="button" class="boton-datos boton-cancelar" id="cerrar_registro">
                    <i class="fa-solid fa-x"></i> Cancelar
                </button>
            </div>
        </form>
    </div>

    

    <div id="fondo__consulta" class="fondo__modal">
        <div id="ventana__consulta" class="modal">
            <h1 class="modal__titulo">
                <i class="fa-solid fa-square-virus"></i>Consulta
            </h1>
            <div class="modal__contenido consulta__contenido">
                <div class="consulta__datos" id="consulta__datos">
                    <!-- Aquí se mostrarán las observaciones, pronóstico y plan terapéutico -->
                </div>
                <div id="consulta__medicamentos" class="consulta__dato">
                    <h2>Medicamentos</h2>
                    <div class="consulta__medicamentos">
                        <table>
                            <!-- Aquí se mostrarán los medicamentos -->
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal__botones">
                <button id="cerrar__consulta" class="boton-datos">Cerrar</button>
            </div>
        </div>
    </div>

    <div id="fondo__estudio" class="fondo__modal">
        <div id="ventana__estudio" class="modal">
            <h1 class="modal__titulo">
                <i class="fa-solid fa-square-virus"></i> Estudio
            </h1>
            <div class="modal__contenido estudio__contenido">
                <div class="estudio__datos" id="estudio__datos">
                    <!-- Aquí se mostrarán los detalles del estudio -->
                </div>
            </div>
            <div class="modal__botones">
                <button id="cerrar__estudio" class="boton-datos">Cerrar</button>
            </div>
        </div>
    </div>

    <%if (typeof telefono !=='undefined' && telefono !==null && telefono !=='' && telefonoVerificado==="N" ) {%>
        <div class="emergente">
            <i class="fa-solid fa-triangle-exclamation"></i><strong>Verificación restante</strong>Requieres verificar tu
            número celular para obtener atención médica.
            <button id="enviarSMS" class="boton-datos verificar">
                <i class="fa-solid fa-check"></i> Verificar número
            </button>
        </div>
    <%}%>
    
    <%- include('../includes/loader') %>
</body>
</html>
